PyMySQL~=1.0.3
requests~=2.31.0
Pyrofork==2.3.69
tgcrypto-pyrofork==1.2.8
uvloop~=0.17.0
asyncio~=3.4.3
APScheduler~=3.10.1
humanize~=4.6.0
cacheout~=0.14.1
SQLAlchemy~=2.0.23
alembic~=1.18.4
pytz~=2022.6
Pillow~=10.3.0
pydantic~=2.1.1
loguru~=0.7.2
numpy~=1.26.3
cn2an~=0.5.22
fastapi~=0.112.2
starlette~=0.38.2
uvicorn==0.30.6
python-multipart==0.0.17
aiohttp==3.11.11
cryptography==44.0.0
